<% if current_user %>
    <div class="container">
        <h3>Welcome</h3>
        <%= form_for @artist do |f| %>
            <div class="validate">
                <%= f.label :name %><br />
                <%= f.text_field :name %>
            </div>
            <%= f.submit("Search",{class: "btn"}) %>
        <% end %>

        <h4>Previous Searches</h4>
        <% @previous_artists.each do |artist| %>
            <a class="previous" value="<%= artist.name %>" ><%= artist.name %></a>
        <% end %>
    </div>
<% else %>
    <div class="container">
        <h3>
            <%= link_to "Sign Up", signup_path %> or
            <%= link_to "Log In", login_path %>
        </h3>
    <div>
<% end %>

<script>
    console.log("hello")
</script>