<!DOCTYPE html>
<html>
  <head>
    <title>LastfmProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <div class="brand-logo"><%= link_to "FastFm", home_path %></div>
        <% if current_user %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= current_user.email %></li>
          <li><%= link_to "Log Out", logout_path %></li>
        <% end %>
        </ul>
      </div>
    </nav>

    <div class="component">
      <%= yield %>
    <div class="component">
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
